{% extends 'base.html' %}
{%block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div class="wrap">
    <div class="img-artista">
    </div>
    <div class="txt-img">
        <h1>Claudia Tapia Yelpi</h1>
        <h3>holaholahola</h3>
        <hr class="divider">
        <h2>Desarrollo de aplicaciones Full Stack Python Trainee</h2>
        <p>
            Soy Claudia Tapia Yelpi, una apasionada por las tecnologías. Este es mi portafolio, donde comparto
            proyectos, aprendizajes y experiencias.
            Estoy enfocada en aprender más sobre la industria TI.
            ¡Gracias por visitar mi portafolio! Espero que encuentres algo interesante por aquí. Siéntete libre de
            explorar mis proyectos y no dudes en contactarte conmigo.
        </p>
        <a href="#" class="btn btn-orange">FOLLOW ME</a>
    </div>
    <p>
        static 'polls/contacto.css'
    </p>
</div>
{%endblock content%}




