{% extends 'base.html' %}

{% block title %} PROYECTOS {%endblock title %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'polls/proyectos.css' %}">

<div class="main">
    <h1>Mis Proyectos</h1>
    <ul class="cards">
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="https://raw.githubusercontent.com/Clautapiay/IMG/master/onlyflans.png" alt="ProyectOnlyFlans"></div>
                <div class="card_content">
                    <h2 class="card_title">OnlyFlans</h2>
                    <p class="card_text">Plataforma web para la compra de flanes de distintos sabores, conectando a productores con
                        consumidores para facilitar la compra y gestión de pedidos</p>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="https://raw.githubusercontent.com/Clautapiay/IMG/master/viajeschile.png" alt="ViajesChile"></div>
                <div class="card_content">
                    <h2 class="card_title">ViajesChile</h2>
                    <br>
                    <br>
                    <p class="card_text">Plataforma web para gestionar y cotizar viajes por Chile.</p>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="https://raw.githubusercontent.com/Clautapiay/IMG/master/arriendos.jpeg" alt="ArriendosFelices"></div>
                <div class="card_content">
                    <h2 class="card_title">Arriendos Felices</h2>
                    <p class="card_text">Plataforma web para la búsqueda y gestión de arriendos de propiedades, facilitando la conexión
                        entre arrendadores y arrendatarios.</p>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="https://raw.githubusercontent.com/Clautapiay/IMG/master/ricomida.png" alt="RiComida"></div>
                <div class="card_content">
                    <h2 class="card_title">RiComida</h2>
                    <p class="card_text">Plataforma web para conocer distintas comidas.</p>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="https://raw.githubusercontent.com/Clautapiay/IMG/master/suricata.png"></div>
                <div class="card_content">
                    <h2 class="card_title">Suricata</h2>
                    <p class="card_text">Plataforma web de comida</p>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="https://raw.githubusercontent.com/Clautapiay/IMG/master/coffe.png"></div>
                <div class="card_content">
                    <h2 class="card_title">Coffe</h2>
                    <p class="card_text">Plataforma web sobre charlas con café</p>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock content %}