{% extends 'base.html' %}

{% block title %} RESUMEN{%endblock title %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'polls/resumen.css' %}">
<section id="timeline">
    <article>
        <div class="inner">
            <span class="date">
                <span class="day"></sup></span>
                <span class="month">[:</span>
                <span class="year"></span>
            </span>
            <h2>Experiencia</h2>
            <p>
                Recepción y atención al cliente
                <br>
                Registro de antecedentes de salud de usuarios en programa Rayén
            </p>
        </div>
    </article>
    <article>
        <div class="inner">
            <span class="date">
                <span class="day"></sup></span>
                <span class="month">:]</span>
                <span class="year"></span>
            </span>
            <h2>Experiencia</h2>
            <p>Diseño y realización de proyectos</p>
        </div>
    </article>
    <article>
        <div class="inner">
            <span class="date">
                <span class="day"></sup></span>
                <span class="month">[:</span>
                <span class="year"></span>
            </span>
            <h2>BootCamp - 2024</h2>
            <p>Desarrollo de aplicaciones Full Stack Python Trainee V2.0</p>
        </div>
    </article>
    <article>
        <div class="inner">
            <span class="date">
                <span class="day"></sup></span>
                <span class="month">:]</span>
                <span class="year"></span>
            </span>
            <h2>Universidad Santo Tomás - 2015-2022</h2>
            <p>
                Enfermería
            </p>
        </div>
    </article>
    <article>
        <div class="inner">
            <span class="date">
                <span class="day"></sup></span>
                <span class="month">[:</span>
                <span class="year"></span>
            </span>
            <h2>Colegio San Viator - 2002-2012</h2>
            <p>Enseñanza básica y media. Cientifico-Humanista</p>
        </div>
    </article>
</section>

{% endblock content %}